<!DOCTYPE html>
<html>
    <head>
        <title>Chat Server | Login</title>
        <link type = "text/html" rel="stylesheet" href="./bootstrap.css">
        <link href="./bootstrap.js" >
    </head>
    <body>
        <div class="container">
            <form action = "/login" method = "POST">
                <input type="text" name="name" placeholder = "Enter username here!">
                <input type="text" name = "password" placeholder = "Enter password here!">
                <button class = "button" type="submit">Log In!</button>
            </form>
        </div>
    </body>
</html>